.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
*.csv
application/config/config.php

assets/loader/css/style.css
assets/loader/css/loader-1.css
DatabaseGlobalAccounting20211210.sql
uploads/uploadManuallyData.xlsx
uploads/gbafgn.xlsx
application/config/config.php
uploads/uploadManuallyData1.xlsx
uploads/uploadManuallyData10.xlsx
uploads/uploadManuallyData11.xlsx
uploads/uploadManuallyData12.xlsx
uploads/uploadManuallyData12.xlsx
uploads/uploadManuallyData3.xlsx
uploads/uploadManuallyData2.xlsx
uploads/uploadManuallyData4.xlsx
uploads/uploadManuallyData5.xlsx
uploads/uploadManuallyData6.xlsx
uploads/uploadManuallyData7.xlsx
uploads/uploadManuallyData8.xlsx
uploads/uploadManuallyData9.xlsx
application/config/config.php
application/controllers/ReportMakerController.php
